.blockable_careers--wrapper {
  background-image: url("../../../assets/bg_footer.png");
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.blockable_careers--wrapper button.slick-arrow.slick-prev::before {
  display: none;
}

.blockable_careers--wrapper button.slick-arrow.slick-next::before {
  display: none;
}

.blockable_careers--wrapper button.slick-arrow.slick-prev {
  background-image: url("../../../assets/arr_prev.png");
  height: 1.5rem;
  width: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

.blockable_careers--wrapper button.slick-arrow.slick-next {
  background-image: url("../../../assets/arr_next.png");
  height: 1.5rem;
  width: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

.blockable_careers--wrapper .blockable_carrers-title {
  padding: 7% 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 94%;
  letter-spacing: -0.03em;
  color: #E4E4E4;
  text-align: left;
  text-shadow: 2px 1px 2px #fff !important;
}

.blockable_careers--wrapper .card_content-top {
  padding: 2% 0;
}

.blockable_careers--wrapper .card_content-top .box {
  height: 5rem;
  display: block;
}

.blockable_careers--wrapper .card_content-top .box img {
  width: 100%;
  display: block;
}

.blockable_careers--wrapper .card_content-top .sub-title {
  text-align: left;
  padding: 5% 0% 0 1%;
}

.blockable_careers--wrapper .card_content-top .sub-title p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  color: #FFFFFF;
}

.blockable_careers--wrapper .card_content-top .sub-title h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 160%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.blockable_careers--wrapper .card_content-top .top-content .timer {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #787878;
}

.blockable_careers--wrapper .card_content-top .top-content h3 {
  position: relative;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 94%;
  letter-spacing: -0.03em;
  color: #E4E4E4;
  margin: 8% 0 5%;
}

.blockable_careers--wrapper .card_content-top .top-content h3::after {
  content: "";
  width: 20%;
  display: block;
  position: absolute;
  border-bottom: 2px solid #9D9D9D;
  margin-top: 2%;
}

.blockable_careers--wrapper .card_content-top .top-content p {
  font-size: 0.8rem;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  width: 80%;
}

.blockable_careers--wrapper .card_content-bot {
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.blockable_careers--wrapper .card_content-bot .top-content {
  padding: 4% 5%;
  color: #FFFFFF;
  text-align: left;
  border: 1px solid #f2f2f2;
  background: #142123;
  border-radius: 40px;
  margin: 4% 0 2%;
  width: 90% !important;
}

.blockable_careers--wrapper .card_content-bot .top-content .timer {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #787878;
}

.blockable_careers--wrapper .card_content-bot .top-content h3 {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 94%;
  letter-spacing: -0.03em;
  color: #E4E4E4;
  margin: 8% 0 5%;
}

.blockable_careers--wrapper .card_content-bot .top-content h3::after {
  content: "";
  width: 20%;
  display: block;
  position: absolute;
  border-bottom: 2px solid #9D9D9D;
  margin-top: 2%;
}

.blockable_careers--wrapper .card_content-bot .top-content p {
  font-size: 0.8rem;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  width: 80%;
}

@media only screen and (max-device-width: 480px) {
  .blockable_careers--wrapper button.slick-arrow.slick-prev {
    position: absolute;
    left: -2%;
  }
  .blockable_careers--wrapper button.slick-arrow.slick-next {
    position: absolute;
    right: -2%;
  }
  .blockable_careers--wrapper {
    height: auto;
  }
  .blockable_careers--wrapper .blockable_carrers-title {
    display: none !important;
  }
  .blockable_careers--wrapper .blockable_carrers-title {
    font-size: 2rem;
  }
  .blockable_careers--wrapper .card_content-bot {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blockable_careers--wrapper .top-content {
    width: 90% !important;
    margin: auto;
  }
  .blockable_careers--wrapper .sub-title {
    text-align: left;
    padding: 5% 0% 0 7% !important;
  }
  .blockable_careers--wrapper .carousel-indicators {
    margin-bottom: -7%;
  }
}
/*# sourceMappingURL=style.css.map */