.academy_grid-list {
    padding: 10% 10% 5% 10%;
    min-height: 100vh;

    .academy_items {
        padding: 0 10%;

        .item {
            padding: 2%;

            .card {
                height: 40vh;
                border-radius: 20px;
                overflow: hidden;

                img {
                    height: 20vh;
                    width: 100%;
                    object-fit: cover;
                }

                .card-body {
                    background-color: #141414;
                    position: relative;

                    .badge {
                        background: linear-gradient(149.2deg, #7EEE83 18.67%, #06A872 115.53%);
                        border: 0.5px solid #FFFFFF;
                        box-sizing: border-box;
                        box-shadow: 5.227px 8.21385px 13.4409px rgba(11, 90, 64, 0.26);
                        border-radius: 15px;
                        font-size: 0.7rem;
                        font-weight: 500;
                        display: block;
                        margin-right: auto;
                        max-width: 45%;
                    }

                    .card-title {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.85rem;
                        line-height: 156%;
                        letter-spacing: -0.03em;
                        color: #E4E4E4;
                        margin-top: 0.5rem;
                        margin-right: auto;
                        display: flex;
                        text-align: left;
                    }

                    .required-level {
                        display: flex;

                        img {
                            width: 20px;
                            height: 20px;
                            object-fit: cover;
                        }

                        p {
                            margin: 2px 5px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 0.7rem;
                            line-height: 160%;
                            letter-spacing: -0.03em;
                            color: #FFFFFF;
                        }


                    }

                    button {
                        width: 3rem;
                        padding: 0;
                        background-color: none;
                        margin-left: auto;
                        display: block;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        position: absolute;
                        bottom: 10%;
                        right: 5%;

                        img {
                            height: 30px !important;
                            width: 30px !important;
                            object-fit: cover;
                        }
                    }
                }

            }
        }
    }
}