.blockable_academy--wrapper {
    background-color: black;
    height: 100vh;
    position: relative;

    .academy-title {
        padding: 7% 10% 5%;

        .card {
            background-color: transparent;
            text-align: left;

            .card-title {

                font-style: normal;
                font-weight: 700;
                font-size: 4rem;
                line-height: 94%;
                letter-spacing: -0.03em;
                color: #E4E4E4;
                text-shadow: 2px 1px 2px #fff !important;

                .academy-link {
                    display: contents;
                    outline: none;
                    box-shadow: none;
                    border: none;

                    img {
                        width: 7%;
                    }
                }


            }

            .card-text {
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 160%;
                letter-spacing: -0.03em;
                color: #FFFFFF;
            }

        }

    }

    .card_items-wrapper {
        justify-content: center;
        text-align: left;
        margin: auto;
        width: 80%;

        .card {
            min-height: 35vh;
            max-height: 40vh;
            padding: 5%;
            background: #142123;
            border-radius: 35px;

            .card-img-top {
                height: 6rem;
                width: 6rem;
                position: absolute;
                margin-top: -20%;
                margin-left: 10%;
            }

            .card-body {


                .card-title {
                    color: #E4E4E4;
                    font-size: 1.3rem;
                    margin: 15% 0 10%;
                    font-weight: 700;
                }

                .card-text {
                    color: #FFFFFF;
                    font-size: 0.9rem;
                }
            }


        }


    }

}

@media only screen and (max-device-width: 480px) {
    .blockable_academy--wrapper {
        height: auto;

        .card-title {
            font-size: 2.5rem !important;
        }

        .card-text {
            font-size: 0.7rem !important;
        }

        .card_items-wrapper {
            .card {
                margin: 2rem 0 !important;

                .card-title {
                    font-size: 1.2rem !important;
                }
            }
        }
    }
}