.blockable_nest--wrapper {
    background-color: black;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;

    .nest-title {
        padding: 0% 10% 5%;

        .card {
            background-color: transparent !important;
            text-align: left;

            .card-title {

                font-style: normal;
                font-weight: 700;
                font-size: 4rem;
                line-height: 94%;
                letter-spacing: -0.03em;
                color: #E4E4E4;

                text-shadow: 2px 1px 2px #fff !important;
            }

            .card-text {

                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 160%;
                letter-spacing: -0.03em;
                color: #FFFFFF;
            }

        }

    }

    .card_items-wrapper {
        justify-content: center;
        text-align: left;
        margin: auto;
        width: 80%;

        .nest_card-items {
            background-image: url("../../../assets/nest_bg.png");
            border-radius: 30px;
            min-height: 15vh;
            padding: 2rem 1.8rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            .card-title {
                font-style: normal;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 94%;
                letter-spacing: -0.03em;
                color: #E4E4E4;
                text-shadow: none !important;

            }

            .card-text {
                font-style: normal;
                font-weight: 400;
                font-size: 0.8rem;
                line-height: 160%;
                letter-spacing: -0.03em;
                color: #FFFFFF;
            }

            img {
                max-width: 70%;
                margin: auto;
                margin-bottom: 1rem;
            }

            .card-body {
                padding-right: 0;
                padding-top: 0;

                button {
                    width: 3rem;
                    padding: 0;
                    background-color: none;
                    margin-left: auto;
                    display: block;
                    border: none;
                    outline: none;
                    box-shadow: none;

                    img {
                        max-width: 70%;
                    }
                }
            }
        }

    }

    .card {
        background-color: transparent !important;
        text-align: left;
    }

}

@media only screen and (max-device-width: 480px) {
    .blockable_nest--wrapper {
        height: auto;

        .nest-title {
            .card-title {
                font-size: 2rem !important;
            }

            .card-text {
                font-size: 0.8rem !important;
            }

            img.card-img-top {
                max-width: 75% !important;
            }
        }

        .nest_card-items.card {
            margin: 10px 0 !important;
        }
    }
}