.blockable_hub--wrapper {
    position: relative;
    height: 100vh;
    background-image: url("../../../../src/assets/bg3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 5%;

    .hub-title {
        margin: auto;

        .blockable_hub-title {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;
            line-height: 94%;
            letter-spacing: -0.03em;
            color: #E4E4E4;
        }

        .blockable_hub-sub {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 160%;
            text-align: center;
            letter-spacing: -0.03em;
            color: #FFFFFF;
            margin-bottom: 10%;

        }
    }

    .list-hub {
        text-align: left;
        min-height: 25rem;

        img {
            width: 30%;
            max-height: 60px;
            object-fit: contain;
        }

        .list_hub-title {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 94%;
            letter-spacing: -0.03em;
            color: #E4E4E4;
        }

        .list_hub-content {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 0.7rem;
            line-height: 160%;
            letter-spacing: -0.03em;
            color: #FFFFFF;
            width: 60%;
        }
    }

}