.academy_page--wrapper {
    background-color: #000;

    .academy_page-title {
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        padding: 10% 0 5% 19%;
        background: linear-gradient(90deg, #FFFFFF 0%, #3D7361 102.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-align: left;
    }
}