.navbar-light .navbar-nav a {
    color: white !important;
    font-size: 18px !important;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.navbar-light .navbar-nav a.active {
    color: #7EEE83 !important;
}

.navbar-nav a {
    font-size: 1rem !important;
    margin: 0 1rem;
}

.navbar-brand {
    img {
        width: 80%;
    }
}

nav.navbar.navbar-expand-lg.navbar-light.bg-black.fixed-top {
    text-align: center !important;
    background: black !important;
    z-index: 999999 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-black.fixed-top {
    text-align: center !important;
    z-index: 999999999;
    opacity: 1;
    background-color: black !important;
}

// .bg-transparent {
//     --bs-bg-opacity: 0.7 !important;
//     background-color: #000 !important;
// }

.nav_container {
    padding-left: 0 !important;
}

.navbar-nav a {
    padding: 5px 0;
}

// responsive
@media only screen and (max-device-width: 480px) {

    button.navbar-toggler.collapsed {
        width: 30px;
        height: 30px;
        object-fit: cover;
        background-image: url("../../../assets/nav_open.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        right: 1rem;
        position: absolute;
        top: 1.5rem;

    }

    button.navbar-toggler {
        width: 30px;
        height: 30px;
        object-fit: cover;
        background-image: url("../../../assets/nav_close.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        right: 1rem;
        position: absolute;
        top: 1.5rem;
    }

    span.navbar-toggler-icon {
        display: none;
    }

    .nav_container.container {
        padding: 0;
    }

    a.navbar-brand {
        width: 65%;
        text-align: left;
    }

    button.navbar-toggler.collapsed {
        padding: 0;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    button.navbar-toggler {
        border-color: transparent !important;
    }

    button.navbar-toggler.collapsed {
        border: none !important;

        .button.navbar-toggler.collapsed {
            span.navbar-toggler-icon {
                display: none !important;
            }
        }
    }


    // .navbar-light .navbar-toggler-icon {
    //     background-image: url("../../../assets/nav_open.png") !important;
    // }

    // .navbar-light .navbar-toggler-icon {
    //     background-image: url("../../../assets/nav_close.png") !important;
    // }

    .block_header--wrapper .banner {
        margin: 20% auto !important;

        .block_header--wrapper .banner .card .card-title {
            font-size: 3rem !important;
        }

        .block_header--wrapper .banner .card .card-text {
            font-size: 0.8rem !important;
        }
    }
}