.navbar-light .navbar-nav a {
    color: white !important;
    font-size: 18px !important;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.navbar-light .navbar-nav a.active {
    color: #7EEE83 !important;
}

.navbar-nav a {
    font-family: 'Helvetica';
    font-size: 1rem !important;
    margin: 0 1rem;
}

.navbar-brand {
    img {
        width: 80%;
    }
}